[flake8]
max-line-length = 90
exclude =
    .vscode,
    include,
    lib,
    scripts
    src/__pycache__,
    src/.vscode,
    src/account/__pycache__,
    src/account/migrations,
    src/account/admin.py,
    src/account/__init__.py,
    src/community/__pycache__,
    src/community/migrations,
    src/community/admin.py,
    src/community/__init__.py,
    src/community/utils/__init__.py,
    src/community/views/__init__.py,
    src/src

