#article-detail-container {
  display: flex;
  height: 100%;
  justify-content: center;
}
#article-detail {
  max-width: 600px;
    
}
#article-detail-article {
  margin-bottom: 5%;
    
}
#article-detail-new-comments {
  margin-bottom: 5%;
}
#article-detail-comment-textarea {
  width: 100%;
}
#article-detail-comment {
  margin-bottom: 5%;
}
#article-detail-comment-meta {
  display: flex;
  justify-content: space-between;
}
#article-detail-comment-actions {
  display: flex;
  justify-content: space-between;
}
#pagination-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .pagination-button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  