
#edit-textarea{
  background-color: #f8f8f8;
  border: none;
  color: #2D3748;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  border-radius: 15px;
  padding: 15px; 
  margin-bottom: 20px;
}




#article-detail-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  background-color: #f8f9fa;
  color: #2D3748;
  padding-bottom: 300px;
}
#article-detail-left{
  width: 120px;
}
#article-detail-back{
  background-color: #fff;
  height: 40px;
  width: 40px;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  border-radius: 50px;
  box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
}
#article-detail {
  width: 1000px;
  margin-right: 370px;
}




#article-detail-article {
  background-color: #fff;
  padding: 25px 15px 25px 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
}
#article-detail-article-actions{
  display: flex;
  justify-content: space-between;
}
#article-detail-article-actions .like-comment{
  display: flex;
  gap: 14px;
}
#article-detail-article-actions .edit-delete{
  display: flex;
  gap: 14px;
}




#article-detail-new-comments {
  margin: 40px 0px 40px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
}
#article-detail-new-comments .submit{
  background-color: #e2e8f0;
  color: #2D3748;
  height: 50px;
  border-radius: 50px;
  margin: 20px;
}
#article-detail-new-comment-textarea{
  background-color: #fff;
  border-radius: 15px;
  border: none;
  margin: 20px;
  width: 100%;
  min-height: 70px;
  color: #2D3748;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
#article-detail--new-comment-textarea::placeholder{
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #A0AEC0;
}




#article-detail-comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}
#article-detail-comment {
  background-color: #fff;
  padding: 25px 15px 25px 15px;
  border-radius: 25px;
  box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
}
#article-detail-comment-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 14px;
}




#article-detail-comment-reply{
  margin-left: 50px;
}
#article-detail-comment-reply-container{
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  padding: 20px;
  gap: 14px;
}
#article-detail-comment-reply-textarea{
  background-color: #fff;
  border-radius: 15px;
  border: none;
  width: 100%;
  min-height: 70px;
  color: #2D3748;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}




#article-detail-comment-nested-comments{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
#article-detail-comment-nested-comment{
  width: 100%;
  background-color: #fff;
  padding: 25px 15px 25px 15px;
  border-radius: 25px;
  box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
}




#article-detail-comment-nested-comments-pagination-controls-button{
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}




#article-detail-comments-pagination-controls-button{
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}




#article-detail-comments-pagination-controls{
  margin-bottom: 50px;
}