#community-container {
  height: 100%;
  display: flex;   
  justify-content: flex-start;
  background-color: #f8f9fa;
  width: 100%;
  color: #2D3748;
}
#community-left{
width: 200px;
}
#community {
  width: 1000px;
}




#community-sort-options {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  gap: 14px;
}
#community-sort-options button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
  color: #2D3748;
  box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
}
#community-sort-options button#active {
  color: #fff;
}
#community-article-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}




#community-article {
  background-color: #fff;
  padding: 25px 15px 25px 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  color: #2D3748;
} 
#community-article-unicon {
  background-color: #2684ff;
  padding: 25px 15px 25px 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  color: #fff;
}
#community-article-buttons{
  display: flex;
  gap: 14px;
}
#unicon-meta{
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  margin-bottom: 25px;
}




#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
#community-pagination-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
  color: #2D3748;
  box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
}