#community-article,
#community-article-viewed,
#community-article-unicon,
#community-article-unicon-viewed {
  cursor: pointer;
}


#community-container {
  height: 100%;
  display: flex;   
  justify-content: flex-start;
  background-color: #f8f9fa;
  width: 100%;
  color: #2D3748;
}
#community-left{
width: 200px;
}
#community {
  width: 1000px;
}




#community-sort-options {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  gap: 14px;
}
#community-sort-options button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
  color: #2D3748;
  box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
}
#community-sort-options button#active {
  color: #fff;
}
#community-article-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}




#community-article {
  background-color: #fff;
  padding: 25px 15px 25px 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  color: #2D3748;
} 

#community-article-title {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  font-size: 1.5rem;
  padding-bottom: 10px;
  border-radius: 15px;
  width: 100%;
}


#community-article-separator {
  background-color: #fff;
  padding: 0;
  border: 0;
  height: 1px;
}


#community-article-viewed {
  background-color: #f3f3f3;
  padding: 25px 15px 25px 15px;
  border-radius:7px;
  box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  backdrop-filter: blur(10px);
  color: #2D3748;
} 
#community-article-unicon {
  background-color: #2684ff;
  padding: 25px 15px 25px 15px;
  border-radius:7px;
  box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  backdrop-filter: blur(10px);
  color: #fff;
}
#community-article-unicon-viewed {
  background-color: #4488e0;
  padding: 25px 15px 25px 15px;
  border-radius:7px;
  box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  backdrop-filter: blur(10px);
  color: #fff;
}
#community-article-preview {
  font-size: 1rem;
  padding-bottom: 20px;
}

#community-article-buttons{
  height : 40px;
  display: flex;
  gap: 14px;
}
#community-article-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#community-article-name-meta {
  display: flex-start;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.9rem;
}


#unicon-meta{
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  margin-bottom: 5px;
}
#unicon-meta .view-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
#unicon-edited{
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 10px;
  color: #ffffff;
}
#community-article-unicon-initial{
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
#community-pagination-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
  color: #2D3748;
  box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
  #community {
      width: 95%;
  }

  #community-article {
      padding: 15px;
      width: 100%;
  }

  #community-article-title {
      flex-direction: column;
      align-items: flex-start;
  }

  #community-article-info {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
  }

  #community-article-buttons {
      justify-content: center;
      width: 100%;
  }

  #community-left{
    width: 10px;
    }
}