*, *::before, *::after {
    box-sizing: border-box;
}

#navbar-container {
    width: 100%;
    background-color: #f8f9fa;
    padding: 30px;
    position: sticky
}

#navbar {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

#navbar-title{
    
    color: #A0AEC0;
    font-size: 1rem;
    font-weight: 500;
}

#navbar-initial{
    
    font-size: 2.5rem;
    font-weight: 900;
}

#navbar-search{
    min-width: 1000px;
    margin-right: 150px;
    background-color: #e2e8f0;
    font-size: 1rem; 
    color: #2D3748;
    padding: 14px;
    border-radius: 50px;
    border: none;
}
#navbar-search::placeholder{
    color: #A0AEC0;
}

#navbar-logout {
    background-color: #e2e8f0;
    font-size: 1rem; 
    color: #2D3748;
    border-radius: 50px;
}
#navbar-points{
    color: #2684ff;
    font-size: 1rem; 
}


#profile {
    list-style: none;
    display: flex;
    gap: 1rem;
}