*, *::before, *::after {
    box-sizing: border-box;
}

#navbar-container {
    width: 100%;
    background-color: #f8f9fa;
    padding: 30px;
    position: sticky
}

#navbar {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#navbar-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

#navbar-logo-container{
    display: absolute;
    align-items: center;
    gap: 10px;
}

#navbar-logo-img{
    width: 80%;
}

#navbar-initial{
    
    font-size: 2.5rem;
    font-weight: 900;
    align-items: center;
}

#navbar-search{
    min-width: 50%;
    max-width: 75%;
    margin-right: 150px;
    background-color: #e2e8f0;
    font-size: 1rem; 
    color: #2D3748;
    padding: 14px;
    border-radius: 50px;
    border: none;
}
#navbar-search::placeholder{
    color: #A0AEC0;
}

#navbar-logout {
    background-color: #e2e8f0;
    font-size: 1rem; 
    color: #2D3748;
    border-radius: 50px;
}
#navbar-points{
    color: #2684ff;
    font-size: 1rem; 
}


#profile {
    list-style: none;
    display: flex;
    gap: 1rem;
}

#navbar-buttons {
    flex-direction: row; 
    justify-content: center;
}

#navbar-buttons button {
    width: auto;
    padding: 10px;
}

@media (max-width: 768px) {
    #navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #navbar-search {
        width: 70%;
        max-width: 50%;
        margin-bottom: 10px;
        margin-right: 0px;
    }


}